{% extends "base.html" %}


{% block content %}
<div class="col-6 mx-auto">
    <div class="text-center mt-5">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqAjbvW8o0lw1AsrCXT4dQmgNhm54sB4B5EQ&usqp=CAU" class="img-fluid img-responcive" style="height:200px">
    </div>
    <form method="post">
        {% csrf_token %}
  <div class="mb-3" >
    <label for="Enter_Name" class="form-label">Name</label>
    <input type="name" name="name" class="form-control" id="Enter_Name" aria-describedby="emailHelp">
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
  </div>
  <div class="mb-3">
    <label for="Enter_Price" class="form-label">Price</label>
    <input type="number" name="amount" class="form-control" id="Enter_Price">
  </div>
   <div class="mb-3">
  <button type="submit" class="btn btn-success btn-block ">MAKE ORDER </button>
   </div>
</form>
</div>


{% if payment %}
<div class="text-center">
<form action="/success/" method="post">
<button id="rzp-button1" class="btn btn-success btn-block">Pay Using Razorpay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_dMK69HXiLxyGbN",
    "amount": "{{ payment.amount }}",
    "currency": "INR",
    "name": "veer ",
    "description": "Test Transaction",
    "image": "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqPr2xK53JwUf2yy6XWd_GAkvj08LS3A4vWQ&usqp=CAU",
    "order_id": "{{payment.id }}",
    "handler": function (response){
        alert(response.razorpay_payment_id);
        alert(response.razorpay_order_id);
        alert(response.razorpay_signature)
    },
    "prefill": {
        "name": "veer singh",
        "email": "veersingh08830@gmail.com",
        "contact": "7271092019",
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
rzp1.on('payment.failed', function (response){
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
});
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
 </form>
</div>
{%endif%}
{% endblock %}
